@define-color main_bg #fafafb;
@define-color text_fg #292b2e;
@define-color arrow rgba(0, 0, 0, 0.12);

* {
	font-size: 11px;
	font-family: "Ubuntu Nerd Font";
}

window#waybar {
	background: @main_bg;
	color: @text_fg;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @arrow;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: @main_bg;
	background: @arrow;
	padding: 0;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#bluetooth,
#clock,
#backlight,
#temperature,
#idle_inhibitor,
#language,
#tray {
	background: @arrow;
}

#workspaces button {
	padding: 0 2px;
	color: @text_fg;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #f93333;
	border: @arrow;
	padding: 0 3px;
}
#workspaces button.active {
	background: @main_bg;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#network,
#bluetooth,
#clock,
#temperature,
#backlight,
#idle_inhibitor,
#tray,
#window,
#language,
#disk {
	padding: 0 4px;
}

