@define-color main_bg #292b2e;
@define-color text_fg #fafafb;
@define-color arrow #1a1a1a;

* {
	font-size: 12px;
	font-family: "Ubuntu Nerd Font";
}

window#waybar {
	color: @text_fg;
	background-color: shade(@main_bg, 0.9);
  	border: 2px solid alpha(#181926, 0.3);
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @arrow;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: @main_bg;
	background: @arrow;
	padding: 0;
}

/* #workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#bluetooth,
#clock,
#backlight,
#temperature,
#idle_inhibitor,
#language,
#tray,
#power-profiles-daemon {
	background: @arrow;
} */

.modules-right {
	background: @arrow;
	/* margin-left: 0px;
	padding: 0px 4px; */
}

.modules-left {
	background: @arrow;
	/* margin-left: 0px;
	padding: 0px 4px; */
}

/* #window {
	background: @main_bg;
} */

#workspaces button {
	padding: 0 2px;
	color: @text_fg;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #f93333;
	border: @arrow;
	padding: 0 3px;
}
#workspaces button.active {
	background: @arrow;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#network,
#bluetooth,
#clock,
#temperature,
#backlight,
#idle_inhibitor,
#tray,
#window,
#language,
#disk {
	padding: 0 4px;
}

